.survey-container ::-webkit-scrollbar {
  width: 12px;
}

.survey-container ::-webkit-scrollbar-track {
  background: #2C6499;
  border-radius: 999px;
  margin: 2px;
}

.survey-container ::-webkit-scrollbar-thumb {
  background: #2C6499;
  border-radius: 999px;
  border: 2px solid #2C6499;
  min-height: 32px;
}

.survey-container ::-webkit-scrollbar-thumb:hover {
  background: #2C6499;
  cursor: pointer;
}

.survey-container ::-webkit-scrollbar-thumb:active {
  background: #2C6499;
}

.survey-container ::-webkit-scrollbar-corner {
  background: #2C6499;
}

.survey-container {
  background-image: url('/images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Firefox fallback */
.survey-container * {
  scrollbar-width: thin;
  scrollbar-color: #2C6499 #f8fafc;
}

.leaflet-marker-draggable {
  will-change: transform;
  transform-origin: center center;
}